img {
  width: 100%;
  display: block;
}

.wrapper_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.moviesOnScreen_cards {
  width: 400px;
  margin: 3vw;
  border-radius: 5px;
  background-color: rgba(49, 43, 43, 0.863);
}

.movie_poster > img {
  width: 100%;
  display: block;
  height: 550px;
  border-radius: 5px;
}

.movie_poster {
  background-color: #000;
}

.search_movies_input {
  width: 60vw;
  padding: 1vw;
  border-radius: 10px;
  border: none;
  opacity: 0.5;
}

.movie_title {
  color: #fff;
  padding: 20px 0;
  font-size: 20px;

}


/* HEADER */


.user_info, h2 {
  color: #fff;
}

.wrapper_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* NAV */

.nav_item {
  color: #fff;
  list-style-type: none;
  display: block;
}


/* MovieDetails */
.wrapper_movie_details {
  position: absolute;
  top: 2%;
  left: 30%
}

.movie_description {
  color: #fff;
}

.movie_poster_details > img {
  width: 500px;
  margin: 0 auto;
}
.movie_iframe {
  width: 600px;
  margin: 40px auto;
}

iframe {
  width: 100%;
}


/* SHEDULE */

.schedule_wrapper {
  color: #fff;
  width: 90%
}

.schedule_poster > img {
  width: 50px;
}

.buyTicket {
  display: block;
  width: 4vw;
  height: 1.5vw
}

.schedule_container {
  display: flex;
  justify-content: space-between;
}

::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }

/* MODAL */

.modal_wrapper {
  color: #fff;
  width: 200px;
  height: 200px;
  background-color: rgba(238, 235, 235, 0.5);

  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.modal_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60vw;
  height: 60vw;
  background-color: black;
  border-radius: 10px;
}

.modal_headline {
  display: flex;
  justify-content: space-around;
}

.empty, .chosen, .occupited {
  width: 1.3vw;
  height: 1.3vw;
  display: inline-block;
}

.empty {
  background-color: #273B7B;
}

.chosen {
  background-color: #2B9D4B;
}

.occupited {
  background-color: #686C78;
}

.modal_seats_row1 {
  width: 3vw;
  height: 3vw;
  background-color: #273B7B;
  text-align: center;
  line-height: 3vw;
}


.modal_seats {
  display: flex;
  margin: 20px auto;
  width: 300px;
  justify-content: space-around;
}